<!DOCTYPE html>
<html>
<head>
  <title>ActsAsAddressable</title>
  <%= stylesheet_link_tag    "acts_as_addressable/application", media: "all" %>
  <%= javascript_include_tag "acts_as_addressable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
